<div class="container-fluid">

	<div class="container well" *ngIf="dvc!=true">
		<div class="col-md-12 col-sm-12 col-xs-12">
		<h1 class="header1">Welcome to Mobile Labs</h1>
		</div>
		<button type="button" class="btn btn-info startLab" (click)="connect()">Connect</button>
	</div>

	<div  class="container" id="div3" *ngIf="dvc==true">
		<div class="col-md-12 col-sm-12 col-xs-12" [hidden]="bookedSlot==true" >
		<div>
		<span class="header1">Available Devices</span>
		</div><br>
		<table class="table  opaltable" style="background-color: white">
		<thead id="thead">
		<tr>
		<th style="width: 35px">Check</th>
		<th style="width: 280px;text-align: center">Devices Name</th> 
		<th style="width: 250px;text-align: left">Devices Id</th>
		<th style="width: 250px;text-align: left">Date</th>
		<th style="width: 150px;text-align: center"></th>
		</tr>
		</thead>
		<tbody>
		<tr *ngFor="let data of result; let i = index" [class.selected]="data.DevicesId == selectedRownew">
		<td style="width: 35px">
		<span *ngIf="blockTdData==true">
		<input type="checkbox"  style="outline: 2px solid red" [disabled]="blockTdData==true" [class.selected]="blockTdData == true" (click)="setClickedRow(data.DevicesId);checkFun(data.DevicesId,$event.target.checked)">
		</span>
		<span *ngIf="blockTdData==false">
		<input type="checkbox" style="background-color: null" [disabled]="blockTdData==true" [class.selected]="blockTdData == true" (click)="setClickedRow(data.DevicesId);checkFun(data.DevicesId,$event.target.checked)">
		</span>
		</td>
		<td style="width: 280px;text-align: center">{{data.DevicesName}}</td>
		<td style="width: 250px;">{{data.DevicesId}}</td>
		<td style="width: 250px;"><input type="date"  displayFormat="dd/mm/YYYY" readonly  [(ngModel)]="todaydate" ></td>	
		<td style="width: 150px;"><button type="button" class="btn btn-info startLab" data-toggle="modal" data-target="#myModal" (click)="somethingChanged(currentTime,toTime,data.DevicesId,todaydate)">Check</button></td>
		</tr>
		</tbody>
		</table>
		</div>
		<div class="col-md-12 col-sm-12 col-xs-12"  [hidden]="bookedSlot==false" >
		<div>
		<span class="header1">Booked Devices</span>
		</div><br>	
		<table class="table opaltable" style="background-color: white">
		<thead id="thead">
		<tr>
		<th style="width: 35px">Check</th>
		<th style="width: 280px;text-align: center">Devices Name</th> 
		<th style="width: 250px;text-align: left">Devices Id</th>
		<th style="width: 250px;text-align: left">Date</th>
		<th style="width: 150px;text-align: center"></th>
		</tr>
		</thead>
		<tbody>
		<tr *ngFor="let data of bookedslot009; let i = index" [class.selected09]="data.result.DevicesId == selectBookedDevices">
		<td style="width: 35px"><input type="checkbox" (click)="bookClickedRow(data.result.DevicesId);checkFun(data.result.DevicesId,$event.target.checked)"></td>
		<td style="width: 280px;text-align: center">{{data.result.DevicesName}}</td>
		<td style="width: 250px;">{{data.result.DevicesId}}</td>
		<td style="width: 250px;"><input type="date" readonly displayFormat="dd/mm/YYYY"  [(ngModel)]="todaydate" ></td>	
		<!-- <td style="width: 150px;"><button type="button" class="btn btn-info startLab" data-toggle="modal" data-target="#myModal" (click)="somethingChanged(currentTime,toTime,data.DevicesId,todaydate)">CheckAvaliablity</button></td> -->
		</tr>
		</tbody>
		</table>



		</div>


		<!-- Trigger the modal with a button -->
		<!-- <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">Open Modal</button> -->

		<!-- Modal -->
		<div class="modal fade"  id="myModal" role="dialog">
		<div class="modal-dialog">

		<!-- Modal content-->
		<div class="modal-content">
		<div class="modal-header" style="background-color:rgb(166, 243, 11);">
		<h2 class="modal-title header1">Avaliable Slot</h2>
		</div>
		<div class="modal-body">
		<table class="table opaltable">
		<thead style="background-color:lightgray">
		<tr>
		<th style="width:180px">Start Time</th>
		<th style="width:150px">End Time</th>
		</tr>
		</thead>
		<tbody>
		<tr *ngFor = "let list of filtered">
		<td style="width:150px">{{list.StartingTime}}</td>
		<td style="width: 150px;"><input type="time"  [(ngModel)]="list.toTime" style="border:none" /></td>
		<td style="width: 100px;"><button type="button" class="btn btn-info startLab1" (click)="blockDevices(final,todaydate,list.StartingTime,list.toTime)">Block</button></td>
		</tr>
		</tbody>
		</table>

		</div>
		<div class="modal-footer">
		<button type="button" class="btn btn-info startLab1" data-dismiss="modal">Close</button>
		</div>
		</div>

		</div>
		</div>


		<div class="col-md-6 col-sm-6 col-xs-6">
		<input type="file" id="file"  [disabled]="blockInstall==true" (change)="fileChangeEvent($event)" placeholder="Upload file..." /><br>
		<button type="button" class="btn btn-info startLab" [disabled]="blockInstall==true" (click)="upload()">Upload</button>
		</div>

		<div class="col-md-6 col-sm-6 col-xs-6" >
		<button type="button" class="btn btn-info startLab"  (click)="installApk()" [disabled]="blockInstall==true">Install</button>
		</div>

	</div>


</div>


